<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand">
      <img src="./assets/img/logo-no-background.png" alt="logo" width="70" height="70">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars"></i>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">ErlindZenelaj</h5>
        <i class="fa-solid fa-xmark" data-bs-dismiss="offcanvas" aria-label="Close"></i>
      </div>
    <div class="offcanvas-body" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/education">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Contact</a>
        </li>
      </ul>
    </div>
    </div>
  </div>
</nav>
