@import '@fortawesome/fontawesome-free/css/all.css';

nav{
  background-color: #0d0c1d;
}


button.navbar-toggler {
  border: 1px solid #327BFF;

  .navbar-toggler-icon {
    background-image: none;
  }

  i.fa-solid {
    color: #327BFF;
  }
}

.offcanvas {
  background-color: #0d0c1d;

  .offcanvas-header {
    margin-top: 17px;
  }

  h5.offcanvas-title {
    color: #699AF2;
  }

  i.fa-xmark {
    color: white;
    padding-right: 10px;
  }

}

.navbar-nav {
  background-color: #0d0c1d;
  gap: 50px;

  a.nav-link.active {
    color: #327BFF;
    font-size: 16px;
  }

  .nav-link {
    color: white;
    font-size: 16px;
  }
}

