@import '@fortawesome/fontawesome-free/css/all.css';
@import "../../styles/index";



.container{
  max-width: 1100px;
}


nav{
  background-color: transparent;
}


button.navbar-toggler {
  border: 1px solid $primary-color;

  .navbar-toggler-icon {
    background-image: none;
  }

  i.fa-solid {
    color: $primary-color;
  }
}

.offcanvas {
  background-color: $third-color;

  .offcanvas-header {
    margin-top: 17px;
  }

  h5.offcanvas-title {
    color: $primary-color;
  }

  i.fa-xmark {
    color: $primary-color;
    padding-right: 10px;
  }

}

.navbar-nav {
  background-color: transparent;
  gap: 50px;

  a.nav-link.active {
    color: $white-color;
    font-size: 16px;
  }

  .nav-link {
    color: $white-color;
    font-size: 16px;
  }
}

