<app-header></app-header>
<div class="container">
  <div class="row g-0">
    <div class="col-lg-6 center">
      <h1>Education</h1>
      @for (entry of education; track entry) {
      <div class="card mb-3">
        <div class="card-body">
          <span class="card-title">{{ entry.date }}</span>
          <h4 class="card-title">{{ entry.title }}</h4>
          <p class="card-text">{{ entry.description }}</p>
        </div>
      </div>
      }
    </div>
    <div class="col-lg-6 center">
      <h1>Experience</h1>
      @for (entry of experiences; track entry) {
        <div class="card mb-3">
          <div class="card-body">
            <span class="card-title">{{ entry.date }}</span>
            <h4 class="card-title">{{ entry.title }}</h4>
            <p class="card-text">{{ entry.description }}</p>
          </div>
        </div>
      }
    </div>
  </div>
</div>
