@import "../../styles/index";

.start-page {
  margin: 350px auto;

  .typewriter {
    h1 {
      color: $primary-color;
      overflow: hidden;
      white-space: nowrap;
      margin: 0 auto;
      letter-spacing: 3.6px;
      text-transform: uppercase;
      text-align: center;
      @include mobile-view{
        font-size: 24px;
      }
    }

    p {
      color: $primary-color;
      overflow: hidden;
      border-right: 3.6px solid $primary-color;
      white-space: nowrap;
      margin: 0 auto;
      letter-spacing: 3.6px;
      animation: typing 5s steps(50, end) infinite;
      max-width: 240px;
    }

    .second-paragraph {
      max-width: 200px;
    }
  }
}

.mouse {
  display: flex;
  justify-content: center;

  .animate__shakeY {
    animation-iteration-count: infinite;
    animation-duration: 2s;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.home {
  margin-top: 10%;
  max-width: 1100px;
  .personal-img{
    margin: 0 auto;
    margin-top: 20px;

    img {
      shape-outside: circle(50%);
      border-radius: 50%;
      float: left;
      @include mobile-view {

      }
    }

    p {
      width: 100%;
    }
  }
  .text{
    p{
      @include mobile-view{
        text-align: center;
      }
    }
  }

  .persona-info {
    max-width: 960px;
    width: 100%;
    margin-top: 50px;

    .info {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include mobile-view{
        align-items: start;
        flex-direction: column;
      }

      span {
        color: $primary-color;
      }
    }

    .first {
      padding-right: 70px;
    }

    .second {
      padding-right: 88px;
    }
  }
}

.slider {
  margin-top: 8%;
  max-width: 1100px;

  .logos {
    overflow: hidden;
    padding-top: 30px;
    background: white;
    white-space: nowrap;
    position: relative;
    @include tablet-view {
      pointer-events: none;
    }

    @include mobile-view {
      pointer-events: none;
    }

    .logos-slide {
      display: inline-block;
      animation: 10s slide infinite linear;
      padding: 0;
      @include mobile-view {
        animation: 5s slide infinite linear;
      }
    }

    .slide {
      display: inline-block;
      cursor: pointer;

      img {
        width: 120px;
        margin-right: 80px;
      }
    }
  }

  .logos:hover .logos-slide {
    animation-play-state: paused;
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }


}
