@import "../../styles/index";

.bg-image{
  background-image: linear-gradient(to right, rgba(255,255,255,0.5), rgba(255,255,255,0)), url('../../assets/img/mainphoto.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 0;
  max-height: 1200px;
  height: 1200px;

  .start-page {
    position: relative;
    top: 220px;
    text-align: center;

    .typewriter {
      h2 {
        color: $white-color;
        overflow: hidden;
        border-right: 3.6px solid $third-color;
        white-space: nowrap;
        margin: 0 auto;
        letter-spacing: 3.6px;
        animation: typing 8s steps(100, end) infinite;
        max-width: 340px;

        @include mobile-view{
          max-width: 300px;
        }
      }

      .second-paragraph {
        max-width: 300px;
        @include mobile-view{
          max-width: 300px;
        }
      }
    }
  }

  .mouse {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 50px;
    left: 250px;
    align-items: center;
    @include mobile-view{
      max-width: 100px;
      position: absolute;
      left: 150px;
    }
    .animate__shakeY {
      animation-iteration-count: infinite;
      animation-duration: 2s;
    }
    img {
      filter: brightness(0) saturate(100%) invert(100%) sepia(93%) saturate(0%) hue-rotate(201deg) brightness(106%) contrast(106%);    }
    }
    @keyframes typing {
      0% {
        width: 0;
      }
      100% {
        width: 100%;
      }
    }
}

.home {
  margin-top: 120px;
  max-width: 1100px;
  .personal-img{
    margin: 0 auto;
    margin-top: 20px;

    img {
      shape-outside: circle(50%);
      border-radius: 50%;
      float: left;
      @include mobile-view {
      }
    }
    .animate__backInLeft,
    .animate__backInRight{
      animation-duration: 1s;
    }

    p {
      width: 85%;
      color: $third-color;
    }
  }
  .text{
    p{
      @include mobile-view{
        text-align: center;
      }
    }
  }

  .personal-info {
    max-width: 1060px;
    width: 100%;
    margin: 40px 0;

    .info {
      gap: 20px;
      @include mobile-view{
        align-items: start;
        flex-direction: column;
      }
      h3{
        animation: typing 5s steps(50, end) infinite;
        overflow: hidden;
        white-space: nowrap;
        margin: 0 auto;
        letter-spacing: 2.5px;
        max-width: 400px;
        color: $secondary-color;
        @include mobile-view{
          margin: 0;
          letter-spacing: 2.5px;
        }
      }

      span {
        color: $third-color;
      }
    }


  }
}

.slider {
  margin-top: 8%;
  max-width: 1100px;

  .logos {
    overflow: hidden;
    padding-top: 30px;
    background: transparent;
    white-space: nowrap;
    position: relative;
    @include tablet-view {
      pointer-events: none;
    }

    @include mobile-view {
      pointer-events: none;
    }

    .logos-slide {
      display: inline-block;
      animation: 15s slide infinite linear;
      padding: 0;
      @include mobile-view {
        animation: 15s slide infinite linear;
      }
    }

    .slide {
      display: inline-block;
      cursor: pointer;

      img {
        width: 80px;
        margin-right: 90px;
      }
    }

  }

  .logos:hover .logos-slide {
    animation-play-state: paused;
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }


}
