<div class="bg-image">
  <app-header></app-header>
  <div class="logo">
    <ul class="icons">
      <li>
        <a href="https://www.facebook.com/erlind.zenelaj"><i class="fa fa-brands fa-facebook-square"></i></a>
      </li>
      <li class="nav-item">
        <a href="https://www.linkedin.com/in/erlind-zenelaj-a15967252"><i class="fa fa-brands fa-linkedin"></i></a>
      </li>
      <li class="nav-item">
        <a href="https://www.instagram.com/erlindzenelaj"><i class="fa fa-brands fa-instagram"></i></a>
      </li>
    </ul>
  </div>

  <div class="container mouse">
    <img class="animate__animated animate__shakeY filtered-mouse" src="assets/img/mouse-wireless-pc-svgrepo-com.svg" alt="" width="50">
  </div>

</div>

<div class="container home" id="home" >
  <div class="about-text">
    <span>About Me:</span>
  </div>
  <div class="row reverse">
    <div class="col-md-7 col-12 personal-text">
      <p>
        I am a driven and enthusiastic intern fascinated by the endless possibilities of programming and technology.
        Currently immersed in [SunnyHill - Tech], I am eager to bridge the gap between theory and
        practice through hands-on experience. Throughout my academic journey, I've cultivated a strong foundation in
        various programming languages and technologies, and I'm eager to continue my journey of exploration and growth
        in the professional realm.
      </p>
      <div class="info">
        <h3><span>Job: </span>Web Developer</h3>
        <h3><span>Citizenship:</span> Kosovo</h3>
        <h3><span>Residence:</span> Prishtina</h3>
      </div>
    </div>
    <div class="col-md-5 col-12">
      <div class="personal-img">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <img alt="Lindi" src="assets/img/lindi.png">
      </div>
    </div>
  </div>
</div>


<div class="container cards-design">
  <div class="row">
    @for (card of cards; track $index){
    <div class="col-md-3 col-6">
      <div class="card">
        <img alt="" [src]="card.icon">
      </div>
      <div class="text">
        <h2>{{ card.title }}</h2>
        <p>{{ card.description }}</p>
      </div>
    </div>
    }
  </div>
</div>


<div class="container slider">
    <div class="about-text">
      <span>Technology's:</span>
    </div>
    <div class="logos">
      <div class="logos-slide">
        <div class="slide svg-partner">
          @for (icons of iconss; track icons) {
            <img [src]="icons" alt="">
          }
        </div>
      </div>
    </div>
</div>

<div class="container projects">
  <div class="about-text">
    <span>Project's:</span>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6" *ngFor="let project of projects">
      <div class="card__collection clear-fix">
        <div class="cards cards--two">
          <img [src]="project.image" class="img-responsive" alt="Cards Image">
          <span class="cards--two__rect"></span>
          <p>{{ project.name }}</p>
          <div class="cards__list">
            <img *ngFor="let tech of project.technologies" [src]="'assets/img/' + tech.toLowerCase() + '.png'" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container contactus">
  <div class="about-text">
    <span>Contact's:</span>
  </div>
    <div class="row content">
      <div class="col-md-4">
        <div class="row">
          <div class="box">
            <div class="col-md-3">
              <i class="fa fa-brands fa-location-pin"></i>
              <h4>Address</h4>
              <p>Prishtina</p>
            </div>
            <div class="col-md-3">
              <i class="fa fa-brands fa-phone"></i>
              <h4>Number</h4>
              <p>+38343726774</p>
            </div>
            <div class="col-md-3">
              <i class="fa fa-brands fa-mail-bulk"></i>
              <h4>Email</h4>
              <p class="mb-0">erlind880&#64;gmail.com</p>
              <p>erlindzenelaj&#64;hotmail.com</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
          <div class="vl"></div>
          <div class="topic">Send us a message</div>
          <div class="input-box">
            <input formControlName="name" required type="text">
            <label>Enter your name</label>
            <small *ngIf="contactForm.get('name')?.errors?.['required'] && contactForm.get('name')?.touched"
                   class="error">
              Name is required
            </small>
          </div>
          <div class="input-box">
            <input formControlName="subject" required type="text">
            <label>Subject</label>
            <small *ngIf="contactForm.get('subject')?.errors?.['required'] && contactForm.get('subject')?.touched"
                   class="error">
              Subject is required
            </small>
          </div>
          <div class="message-box">
            <textarea ></textarea>
            <label>Enter your message</label>
            <small *ngIf="contactForm.get('message')?.errors?.['required'] && contactForm.get('message')?.touched"
                   class="error-box">
              Message is required
            </small>
          </div>
          <div class="input-box">
            <input type="submit" value="Send Message">
          </div>
        </form>
      </div>
  </div>
</div>

