<app-header></app-header>
<div class="container start-page">
  <div class="typewriter">
    <h1>I'm Erlind Zenelaj</h1>
    <p *ngIf="showMessage">FrontEnd Developer</p>
    <p *ngIf="!showMessage" class="second-paragraph">Based On Kosovo</p>
  </div>
</div>

<div class="container mouse">
  <a href="#home">
    <img class="animate__animated animate__shakeY" src="assets/img/IconMouse96.png" alt="" width="50">
  </a>
</div>

<div class="container home" id="home">
  <div class="row">
    <div class="col-md-2">
      <img src="assets/img/IconMouse96.png" alt="">
    </div>
    <div class="col-md-10">
      <div class="text">
        <p>
          I am a driven and enthusiastic intern fascinated by the endless possibilities of programming and technology.
          Currently immersed in [SunnyHill - Tech], I am eager to bridge the gap between theory and
          practice through hands-on experience. Throughout my academic journey, I've cultivated a strong foundation in
          various programming languages and technologies, and I'm eager to continue my journey of exploration and growth
          in the professional realm.
        </p>
      </div>
      <div class="persona-info">
        <div class="info">
          <p><span>Name: </span> Erlind Zenelaj</p>
          <p><span>Age:</span> 21 Years</p>
          <p><span>Job: </span>Web Developer</p>
        </div>
        <div class="info">
          <p><span>Citizenship:</span> Kosovo</p>
          <p><span>Residence:</span> Prishtina</p>
          <p><span>E-mail:</span> erlind880&#64;gmail.com</p>
        </div>
      </div>
    </div>

  </div>
</div>
