@import "../../styles/index";

.start-page {
  margin: 350px auto;

  .typewriter {
    h1 {
      color: $primary-color;
      overflow: hidden;
      white-space: nowrap;
      margin: 0 auto;
      letter-spacing: 3.6px;
      text-transform: uppercase;
      text-align: center;
      @include mobile-view{
        font-size: 24px;
      }
    }

    p {
      color: $primary-color;
      overflow: hidden;
      border-right: 3.6px solid $primary-color;
      white-space: nowrap;
      margin: 0 auto;
      letter-spacing: 3.6px;
      animation: typing 3.5s steps(50, end) infinite;
      max-width: 240px;
    }

    .second-paragraph {
      max-width: 200px;
    }
  }
}

.mouse {
  display: flex;
  justify-content: center;

  .animate__shakeY {
    animation-iteration-count: infinite;
    animation-duration: 2s;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.home {
  margin-top: 10%;
  max-width: 1100px;

  .about-text {
    display: inline-block;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
  }

  .about-text::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    border-bottom: 8px solid yellow;
  }

  .personal-img{
    @include mobile-view{
      display: flex;
      justify-content: center;
    }
  }
  .text{
    p{
      @include mobile-view{
        text-align: center;
      }
    }
  }

  .persona-info {
    max-width: 960px;
    width: 100%;
    margin-top: 30px;

    .info {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include mobile-view{
        align-items: start;
        flex-direction: column;
      }

      span {
        color: $primary-color;
      }
    }
  }

}

