@import "../../styles/index";

.start-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 500px auto;

  .typewriter {
    h2 {
      color: $white-color;
      overflow: hidden;
      border-right: 3.6px solid $third-color;
      white-space: nowrap;
      margin: 0 auto;
      letter-spacing: 3.6px;
      animation: typing 3s steps(50, end) infinite;
      max-width: 500px;
      text-shadow: 1px 1px 2px black;
      @include mobile-view{
        max-width: 500px;
        animation: typing 2.5s steps(20, end) infinite;
      }
    }
  }
  @keyframes typing {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
}
