.container {
  margin-top: 10%;
}

.left-side {

  .card-title {
    color: white;
  }

  .card-text {
    color: white;
  }

  .icons {
    display: flex;
    gap: 30px;
  }

  button.btn.btn-primary {
    max-width: 300px;
    width: 100%;
    background: white;
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: none;
    color: black;
  }
}


.img {
  display: flex;
  justify-content: center;
  color: white;
}
