<div class="container col-lg-12">
  <div class="row">
    <div class="col-lg-6 left-side">
      <h1 class="card-title">Hi, I’m Erlind Zenelaj</h1>
      <h3 class="card-title">FrontEnd Developer</h3>
      <div class="card-text mt-lg-5">
        Coding enthusiast with a knack for frontend development. I specialize in crafting engaging user interfaces.
        Experienced in building responsive websites and applications, my goal is to create seamless digital experiences
        that captivate users and drive results.
      </div>
      <button class="btn btn-primary mt-lg-5">Let's Talk</button>
    </div>
    <div class="img col-lg-6">
    </div>
  </div>
</div>
