<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-title">HTML</div>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar w-100"></div>
        </div>

        <div class="card-title mt-2">CSS</div>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar w-75"></div>
        </div>

        <div class="card-title mt-2">JS</div>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar w-50"></div>
        </div>

        <div class="card-title mt-2">Angular</div>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar w-25"></div>
        </div>

        <div class="card-title mt-2">.NET</div>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar w-25"></div>
        </div>

        <div class="card-title mt-2">MSSQL</div>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar w-25"></div>
        </div>
        <div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-title">KING</div>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar w-100"></div>
        </div>

        <div class="card-title mt-2">KING</div>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar w-75"></div>
        </div>

        <div class="card-title mt-2">KING</div>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar w-50"></div>
        </div>

        <div class="card-title mt-2">KING</div>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar w-25"></div>
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
