$primary-color: rgb(89, 193, 202);
$secondary-color: #616161;
$third-color: #616161;
$quaternary-color: #F5F5F5;
$white-color: #FFFFFF;

$accent-color: #8a5cc2;
$alert-color: #ff9012;
$error-color: #e11b1b;



$color-box-2 : rgba(34, 65, 154, .8);
$color-box-3 : $primary-color;
$color-box-5 : $primary-color;
