$primary-color: #F01724;
$secondary-color: #212529;
$tertiary-color: #707070;
$quaternary-color: #F5F5F5;
$white-color: #FFFFFF;

$accent-color: #8a5cc2;
$alert-color: #ff9012;
$error-color: #e11b1b;

