@import 'breakpoints';
@import 'colors';

*{
  font-family: "Andale Mono", serif;
}

.about-text {
  display: inline-block;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  color: $white-color;
}

.about-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  border-bottom: 8px solid gray;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18.72px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 13.28px;
}

h6 {
  font-size: 11.5px;
}

p {
  font-size: 16px;
}
